In [1]:
import numpy as np
import pandas as pd
import torch

In [2]:
if torch.cuda.is_available():
    device = torch.device('cuda')
    print("Using the GPU for parallel processing!")
else:
    device = torch.device("cpu")
    print("Using the cpu for the processing!")

Using the GPU for parallel processing!

In [3]:
df = pd.read_csv('../data/bonus_dataset.csv')
df.shape

(100, 5)

In [4]:
df.head()

  employee_id  performance  years_of_experience  projects_completed  bonus
0     EMP_001            7                    2                   4    124
1     EMP_002            4                    1                   4     82
2     EMP_003            8                    7                  10    178
3     EMP_004            5                    7                   8    138
4     EMP_005            7                    8                   9    170

In [5]:
performance = torch.tensor(df['performance'].values, dtype= torch.float32)
years_of_experience = torch.tensor(df['years_of_experience'].values, dtype= torch.float32)
projects_completed = torch.tensor(df['projects_completed'].values, dtype= torch.float32)
bonus = torch.tensor(df['bonus'].values, dtype= torch.float32)

In [6]:
w1 = torch.rand(1, requires_grad=True)
w2 = torch.rand(1, requires_grad=True)
w3 = torch.rand(1, requires_grad=True)
bias = torch.rand(1, requires_grad=True)

EPOCHS = 6000
LEARNING_RATE = 0.001

loss_history = []

for epoch in range(EPOCHS):

    bonus_pred = w1 * performance + w2 * years_of_experience + w3 * projects_completed + bias

    loss = ((bonus - bonus_pred) ** 2).mean()

    loss_history.append(loss.item())

    loss.backward()

    with torch.no_grad():
        w1 -= LEARNING_RATE * w1.grad
        w2 -= LEARNING_RATE * w2.grad
        w3 -= LEARNING_RATE * w3.grad
        bias -= LEARNING_RATE * bias.grad

    w1.grad.zero_()
    w2.grad.zero_()
    w3.grad.zero_()
    bias.grad.zero_()
    
    if epoch % 100 == 0:
        print(f"Epoch: {epoch}/{EPOCHS} - Loss: {loss.item(): 0.2f}")

Epoch: 0/6000 - Loss:  17660.91
Epoch: 100/6000 - Loss:  25.06
Epoch: 200/6000 - Loss:  19.67
Epoch: 300/6000 - Loss:  19.18
Epoch: 400/6000 - Loss:  18.73
Epoch: 500/6000 - Loss:  18.29
Epoch: 600/6000 - Loss:  17.87
Epoch: 700/6000 - Loss:  17.46
Epoch: 800/6000 - Loss:  17.06
Epoch: 900/6000 - Loss:  16.67
Epoch: 1000/6000 - Loss:  16.30
Epoch: 1100/6000 - Loss:  15.93
Epoch: 1200/6000 - Loss:  15.57
Epoch: 1300/6000 - Loss:  15.21
Epoch: 1400/6000 - Loss:  14.87
Epoch: 1500/6000 - Loss:  14.54
Epoch: 1600/6000 - Loss:  14.21
Epoch: 1700/6000 - Loss:  13.89
Epoch: 1800/6000 - Loss:  13.58
Epoch: 1900/6000 - Loss:  13.27
Epoch: 2000/6000 - Loss:  12.97
Epoch: 2100/6000 - Loss:  12.68
Epoch: 2200/6000 - Loss:  12.40
Epoch: 2300/6000 - Loss:  12.12
Epoch: 2400/6000 - Loss:  11.85
Epoch: 2500/6000 - Loss:  11.58
Epoch: 2600/6000 - Loss:  11.32
Epoch: 2700/6000 - Loss:  11.07
Epoch: 2800/6000 - Loss:  10.82
Epoch: 2900/6000 - Loss:  10.58
Epoch: 3000/6000 - Loss:  10.34
Epoch: 3100/6000 - Loss:  10.11
Epoch: 3200/6000 - Loss:  9.88
Epoch: 3300/6000 - Loss:  9.66
Epoch: 3400/6000 - Loss:  9.44
Epoch: 3500/6000 - Loss:  9.23
Epoch: 3600/6000 - Loss:  9.02
Epoch: 3700/6000 - Loss:  8.82
Epoch: 3800/6000 - Loss:  8.62
Epoch: 3900/6000 - Loss:  8.43
Epoch: 4000/6000 - Loss:  8.24
Epoch: 4100/6000 - Loss:  8.06
Epoch: 4200/6000 - Loss:  7.87
Epoch: 4300/6000 - Loss:  7.70
Epoch: 4400/6000 - Loss:  7.53
Epoch: 4500/6000 - Loss:  7.36
Epoch: 4600/6000 - Loss:  7.19
Epoch: 4700/6000 - Loss:  7.03
Epoch: 4800/6000 - Loss:  6.87
Epoch: 4900/6000 - Loss:  6.72
Epoch: 5000/6000 - Loss:  6.57
Epoch: 5100/6000 - Loss:  6.42
Epoch: 5200/6000 - Loss:  6.28
Epoch: 5300/6000 - Loss:  6.14
Epoch: 5400/6000 - Loss:  6.00
Epoch: 5500/6000 - Loss:  5.86
Epoch: 5600/6000 - Loss:  5.73
Epoch: 5700/6000 - Loss:  5.60
Epoch: 5800/6000 - Loss:  5.48
Epoch: 5900/6000 - Loss:  5.36

In [7]:
w1.item(), w2.item(), w3.item(), bias.item()

(12.416044235229492, 4.571259498596191, 3.905588150024414, 10.699421882629395)

In [8]:
loss_history[-1]

5.236698150634766